<% provide(:title, "Welcome") %>
<section class="center jumbotron">
  <h1>On Time?</h1>
  <ul class="tabs">
    <li id="one" class="btn btn-primary"><a href="#tab1">Log in</a></li>
    <li id="two" class="btn btn-primary"><a href="#tab2">Sign up</a></li>
  </ul>
  <div class="clr"></div>
  <section class="block">
    <article id="tab1">

      <h1>Log in</h1>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>
        </n>

          <p>New User? <a href="#tab2">Sign up now!</a></p>
        </div>
      </div>
    </article>
    <article id="tab2">

      <h1>Sign up</h1>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>

            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "Create my account", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </article>
  </section>
</section>
